.clients {
    flex: 0 0 148px;
    display: grid;
    grid-template-columns: repeat(4, 64px);
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    margin-bottom: 16px;
    align-items: end;
}

.clients.opacity {
    opacity: 0;
}