.client {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    z-index: 5;
}

.client__lives {
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
}

.client__lives span {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 0.7px solid #FFF;
    background: #90D494;
    margin-left: -3px;
    z-index: 0;
}

.client__photo {
    width: 64px;
    height: 64px;
    background-color: #90D494;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.client__photo img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.client__photo svg {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.client__services.none {
    display: none;
}

.client.success {
    filter: drop-shadow(0px 0px 12px #4FFF59);
}

.client.error {
    filter: drop-shadow(0px 0px 12px #FF4F4F);
}



.modal__room {
    position: absolute;
    top: 300px;
    left: 100px;
    z-index: 4;
}

.modal__room h3 {
    position: relative;
    z-index: 4;
    font-size: 12px;
    margin-bottom: 2px;
    font-family: Montserrat;

}

.modal__room span {
    position: relative;
    z-index: 4;
    font-family: Montserrat;
}

.modal__room .modal::after,
.modal__room .modal::before {
    z-index: 2;
}

.client.errorTime .client__photo,
.client.errorTime .client__lives span {
    background-color: #CF6363;

}

.client.errorTime .client__lives span:last-child,
.client.dangerTime .client__lives span:last-child,
.client.errorTime .client__lives span:nth-child(3) {
    background-color: transparent;
    border-color: transparent;
}

.client.dangerTime .client__photo,
.client.dangerTime .client__lives span {
    background-color: #D3CA75;

}


/* иконки клиентов */
.icon2 svg {
    top: 5px;
    left: 11px;
    transform: none;
}

.icon3 svg {
    top: 50%;
    left: 50%;
    transform: translateY(-40%) translateX(-40%) scale(1.2);
}

.icon01 svg {
    top: 5px;
    left: 7px;
    transform: none;
}

.icon22 svg {
    top: 7px;
    left: 11px;
    transform: none;
}

.icon52 svg {
    top: 5px;
    left: 5px;
    transform: none;
}

.icon73 svg {
    top: 5px;
    left: 14px;
    transform: none;
}

.stopGame-client {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.client__services {
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    background: white;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.10));
    margin-bottom: 8px;


}

.client__services>* {
    flex: 0 0 auto;
}

.client__services span {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    min-width: 30px;
    text-align: center;

}

.client__services svg {
    position: absolute;
    left: calc(50% - 7px);
    bottom: -9px;
    z-index: -1;

}


.cat4 {
    padding: 9px 8px;
}

.cat3 img {
    width: 23px;

}

.cat4 img {
    width: 31px;

}

.cat5 img {
    width: 26px;

}

.cat6 img {
    width: 24px;

}

.cat7 img {
    width: 16px;

}

.client__drag-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.client__drag {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}